
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crum Woods - Above and Belowground Productivity Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

    
    <div class="jumbotron masthead">
		<div class="container">
			<h1>Crum Woods</h1>
<h2>Above and Belowground Productivity Database</h2>
      <p>This site is part of the Swarthmore College Fundamentals of Ecology (BIO 36) course laboratory curriculum taught by Jose-Luis Machado. All the information presented in this site belongs to the Department of Biology at Swarthmore College. Please do not use without requesting permission. Questions about the data and/or request for personal use should be sent to Jose-Luis Machado (jmachad1). Partial suppport for the development of protocols used in data collection was provided by a fellowship to Jose-Luis Machado from the Lindback Foundation.</p>
<p>The web forms and database were created by Liz Evans and Andrew Ruether, Information Technology Services, Swarthmore College. Please send questions about the site structure and operation to Andrew Ruether (aruethe2).</p>
</div>
</div>
<div class="container">
    </div> <!-- /container -->

   

  </body>
</html>
