
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crum Woods - Above and Belowground Productivity Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/tables.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>
	<div class="container accesslitter">

    	<h1>Access Data Records</h1>
    	<div style="display: none" id="csv">Date,Site,Plot,Collection Type, Observer 1, Observer 2, Observer 3, Trap,</div>
		<div style="margin:25px 0px;">
			<div id="query-items-selected" class="well well-small"><button id="clear-all" class="btn btn-inverse pull-right" type="button">Clear query</button>
</div>
		<div style="margin:25px 0px;">

			<button id="analyze-data" class="btn btn-inverse btn-icon" type="button"><i class="icon-white icon-search"></i> Analyze data</button>
			<button id="loading" class="btn btn-inverse" disabled="disabled" style="display: none;">Loading...</button>
			<button id="hide-form" class="btn btn-inverse" type="button"><i class='icon-white icon-arrow-up'></i> Hide form</button>
			<button id="show-form" class="btn btn-inverse" type="button" style="display:none"><i class='icon-white icon-arrow-down'></i> Show form</button>
			
			<button id="export-data"class="btn btn-inverse btn-icon" type="button" style="display:none"><i class="icon-white icon-download"></i> Export data</button>
			<button id="show-form" class="btn btn-inverse" type="button" style="display:none"><i class='icon-white icon-arrow-down'></i> Show form</button>
		</div>
		</div>
	<div>
		<div class="row conditions">
			<div class="span2">
			<div class="btn-group-vertical row">
			<h4 style="color: #0B486B">Site</h4>
  				<ul id="query-options-site" class="dropdown-menu query-options site" role="menu" aria-labelledby="dLabel">
    				<!-- dropdown menu links -->
    				<li><a class='check-all' name='check-all'>Check All<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a class='clear-all' name='clear-all' style="display:none">Clear All<i class='icon-black icon-remove pull-right'></i></a></li>
  					<li class="divider"></li>
  				</ul>
			</div>
			
			<div class="btn-group-vertical row">
  				<h4 style="color: #532F64">Plot</h4>
  				<ul id="query-options-plot" class="dropdown-menu query-options plot" role="menu" aria-labelledby="dLabel">
    				<!-- dropdown menu links -->
    				<li><a name='plot_1' class='not-query plot'>Plot 1<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='plot_2' class='not-query plot'>Plot 2<i class='icon-black icon-ok pull-right'></i></a></li>
  				</ul>
			</div>
		</div>
		
		<div class="span2">
			<div class="btn-group-vertical row">
  				<h4 style="color: rgb(47, 150, 180)">Trap</h4>
  				<ul id="query-options-trap" class="dropdown-menu query-options trap" role="menu" aria-labelledby="dLabel">
    				<!-- dropdown menu links -->
    				<li><a name='trap_1' class='not-query trap'>Trap 1<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='trap_2' class='not-query trap'>Trap 2<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='trap_3' class='not-query trap'>Trap 3<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='trap_4' class='not-query trap'>Trap 4<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='trap_5' class='not-query trap'>Trap 5<i class='icon-black icon-ok pull-right'></i></a></li>
  				</ul>
			</div>
			
			<div class="btn-group-vertical row">
				<h4 style="color: #BF496A">Collection Type</h4>
  				<ul id="query-options-collection_type" class="dropdown-menu query-options collection_type" role="menu" aria-labelledby="dLabel">
    				<!-- dropdown menu links -->
    				<li><a name='seasonal' class='not-query collection_type'>Seasonal<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='standing' class='not-query collection_type'>Standing<i class='icon-black icon-ok pull-right'></i></a></li>
  				</ul>
			</div>
		</div>
		
			<div class="btn-group-vertical span3">
				<h4 style="color: #D35400">Data Type</h4>
 				<ul id="query-options-type" class="dropdown-menu query-options type" role="menu" aria-labelledby="dLabel">
  					<li><a class='check-all non-leaf' name='check-all-non-leaf'>Check All Non-Leaf Data<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a class='clear-all non-leaf' name='clear-all-non-leaf' style="display:none">Clear All Non-Leaf Data<i class='icon-black icon-remove pull-right'></i></a></li>
					<li><a class='check-all leaf' name='check-all-leaf'>Check All Leaf Data<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a class='clear-all leaf' name='clear-all-leaf' style="display:none">Clear All Leaf Data<i class='icon-black icon-remove pull-right'></i></a></li>
    				<li class="divider"></li>
    			</ul>
			</div>	
			
		<div class="span2">
			<div class="btn-group-vertical row">
  				<h4 style="color: #F5AA1A">Sky Conditions</h4>
  				<ul id="query-options-sky" class="dropdown-menu query-options sky" role="menu" aria-labelledby="dLabel">
    				<!-- dropdown menu links -->
    				
    				<li><a name='Clear' class='not-query sky'>Clear<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='Light clouds' class='not-query sky'>Light clouds<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='Partly cloudy' class='not-query sky'>Partly cloudy<i class='icon-black icon-ok pull-right'></i></a></li>
  				</ul>
			</div>
			
			<div class="btn-group-vertical row">
  				<h4 style="color: #8A9B0F">Precipitation</h4>
  				<ul id="query-options-precipitation" class="dropdown-menu query-options precipitation" role="menu" aria-labelledby="dLabel">
    				<!-- dropdown menu links -->
    				
    				<li><a name='Dry' class='not-query precipitation'>Dry<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='Rain' class='not-query precipitation'>Rain<i class='icon-black icon-ok pull-right'></i></a></li>
    				<li><a name='Snow' class='not-query precipitation'>Snow<i class='icon-black icon-ok pull-right'></i></a></li>    				
  				</ul>
			</div>
		</div>
		
		<div class="span3">
			<h4>Details</h4>
				<input id="query-options-observers" type="text" data-provide="typeahead" class="query-options observers" placeholder="Observers"></input>
				<input type="text" id="date-begin" class='query-options-datepicker' placeholder="Start date"></input>
				<input type="text" id="date-end" class="query-options-datepicker" placeholder="End date"></input>
		</div>

			
		</div>
	</div><br><br>
	<div id="none-found" class="alert alert-info" style="display:none">No results found. Try another query.<a class="close none-close">&times;</a></div>
	<span class="pagination" style="float:left"></span>
	<button class="btn btn-small btn-info" id="hide-empty" style="display:none; float:left">Hide empty columns</button>
	<button class="btn btn-small btn-info" id="show-empty" style="display:none; float:left">Show empty columns</button>
	</div> <!-- /container -->
	<div class="table-frame" style="overflow: auto; min-width: 1200px; max-width: 1500px">
	<table class="table-striped tablesorter table-scroll" id="litterfall-table" style="display:none">
	<thead>
		<tr>
			<th >
			</th>
			<th >
				Date
			</th>
			<th >
				Site
			</th>
			<th>
				Plot
			<th>
				Coll. Type
			</th>
			<th>
				Weather
			</th>
			<th>
				Observers
			</th>
			<th>
				Trap
			</th>
			<th>
			</th>
			<th> Acorns </th>
			<th> All reproductive </th>
			<th> Twigs </th>
			<th> Bark </th>
			<th> Misc. </th>
			<th style="display:none" id="last"></th>
		</tr>
	</thead>
	<tbody></tbody>
	</table>   
   	</div>
   	 <div class="container">
	<div class="pagination" style="margin-top: 20px; margin-left: 30px; float: left; clear: both;"></div>
  	</div>
  
  </body>
</html>
