<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crum Woods - Above and Belowground Productivity Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/tables.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../../css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="container">
 	 <div class="site-name"><%= site %></div><div class="plot-number"><%= plot %></div>
      <h1><span class="title">Updating Data Records </span><small><%= site %>, Plot <%= plot %></small></h1>
      <div id="back"><button class="btn btn-mini btn-primary back" style='text-decoration: none; float: right'><a class="back" href="#data/update/trees/site/<%= site %>/plot/<%= plot %>" style="text-decoration: none">Return to Plot</a></button>
		</div>
		<h2>Tree: <%= treeId %><%= subTreeId != 0 ?  '.' + subTreeId : '' %>
		</h2>
		<div id="treeEditView">
				
			
		</div>
    </div> <!-- /container -->

  </body>
</html>
