
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Crum Woods - Above and Belowground Productivity Database</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/tables.css" rel="stylesheet">
	<link rel="stylesheet" href="../../css/elusive-webfont.css">

	<style>
	body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	</style>
	<link href="../css/bootstrap-responsive.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="ico/favicon.png">
</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/tree-data">Crum Woods</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/tree-data">Home</a></li>
						<li><a href="reports.html">View Reports</a></li>
						<li><a href="update.html">Update Data Records</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
		<h1>Updating Data Records <small>[Location], [Plot]</small></h1>
		<h2>[Tree ID] </h2>
		<button class="btn btn-mini btn-primary back" style='float: right'><a href="#updates/trees/site/" + [Location] + "/plot/" + [Plot] >Return to Plot<
		<div id="tree-info">
			<ul>
				<li>Species: [species]<i class="icon-edit"></i></li>
				<li>Angle Degrees: [Angle Degrees]<i class="icon-edit"></i></li>
				<li>Distance Meters: [Distance Meters]<i class="icon-edit"></i></li>
			</ul>
		</div>
		<div class="button-row">
			<button class="btn btn-mini btn-success pull-left" type="button"><a href="update-existing2.html">+ New Entry</a></button>
		</div>
		<table class="table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Date</th>
					<th>Observers</th>
					<th>
						DBH (cm) <a href="#" class="dbh" rel="tooltip" data-placement="top" data-original-title="Diameter at Breast Height"><small>info</small></a>
					</th>
					<th>
						Comments
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="add-new">
					<td>
						<div class="btn-group"><button class="btn btn-mini btn-success" type="button">Submit</button><button class="btn btn-mini btn-danger" type="button">Cancel</button>					</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-mini btn-primary edit-existing" type="button">Edit</button>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-mini btn-primary edit-existing" type="button">Edit</button>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-mini btn-primary edit-existing" type="button">Edit</button>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-mini btn-primary edit-existing" type="button">Edit</button>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-mini btn-primary edit-existing" type="button">Edit</button>

							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-mini btn-primary edit-existing" type="button">Edit</button>

							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-mini btn-primary edit-existing" type="button">Edit</button>

							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="button-row">
					<button class="btn btn-mini btn-success pull-left" type="button"><a href="update-existing2.html">+ New Entry</a></button>
				</div>

			</div> <!-- /container -->

			<!-- Le javascript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
			<script src="../js/bootstrap.js"></script>
			<script>
			$('.dbh').tooltip({trigger:'hover'})
			</script>
			<script>
			$(function() {                       
			$(".edit-existing").click(function() {  
			$(this).toggleClass("btn-danger");   
			$(this).parents('tr').toggleClass("editing");      
			  });
			});
			</script>

		</body>
		</html>
