
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crum Woods - Above and Belowground Productivity Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/tree-data">Crum Woods</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/tree-data">Home</a></li>
              <li><a href="reports.html">View Reports</a></li>
              <li><a href="update.html">Update Data Records</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Updating Data Records</h1>
      <p>Fill out the form below to begin updating the data records</p>
	<div class="row">
		<form>
		<div class="span4">
			<h3>Date</h3>
			<input type="date" placeholder="Observation Date">
			
			<h3>Observer(s)</h3>
			<input type="text" placeholder="Observer Name">

		</div>
	
	<div class="span4">
		<div>
		<h3>Location</h3>
		<select>
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
		</div>

	<div><h3>Plot</h3>
		<select>
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
	</div>
	</div>
	<div class="span4">
		<div>
			<h3>Collection Type</h3>
			<select>
		  		<option>litterfall</option>
		  		<option>tree data</option>
			</select>
		</div>
		<div style="margin:25px 0px;">
  			<a href="update2.html"><button class="btn btn-large btn-primary" type="button">Continue ></button></a>
		</div>
	</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>
</html>
