/**
 * Tables
 */
table 
{
  	width: 100%;
  	margin-bottom: 18px;
  	padding: 0;
  	border-collapse: separate;
  	font-size: 13px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
table th, 
table td 
{
  	padding: 8px 6px;
  	line-height: 13.5px;
  	text-align: left;
  	vertical-align: middle;
  	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
table th 
{
  	font-weight: bold;
    border-top: none;
}
.table-striped tbody tr:nth-child(even) td 
{
  	background-color: #efefef;
}
.table-striped tbody tr:hover td 
{
  	background-color: #c0e5f8;
}
.successful-update
{	
	background-color: #99CC99;
}
.successful-update td{
	background-color:none;
}
/* @end Tables */

.add-new {
	padding:5px;
}
.add-new td, .editing td
{
	border:1px dashed red;}

table.table-striped > tbody.edit-historical > tr:first-child> td, 
{
	background-color:#FFCCCC;
	border-top:1px solid red;
}
table.table-striped > tbody.edit-historical > tr > td:first-child
{
		border-left:1px solid red;
}
table.table-striped > tbody.edit-historical > tr:last-child> td
{
		background-color:#FFCCCC;
		border-bottom:1px solid red;
}
table.table-striped > tbody.edit-historical > tr > td:last-child
{
		border-right:1px solid red;
}
.table-striped tbody tr.view-more-records td{
}
.view-more-records td{
	text-align:right;
	color: #444;
}

.button-row .btn
{
	margin:10px 0 10px 10px;
}
.button-row .btn.pull-right
{
	margin:10px 10px 10px 0;
}

button a, button a:hover {
	color:#FFF;
}

.edit_cell, .edit-tree-info {
	display: none;
}
.site-name, .plot-number {
	display: none;
}

.table-frame {
	margin-left: 100px;
}

.table-scroll tr td, .table-scroll tr th {
	border: 1px solid hsl(0, 0%, 87%);
	width: 100px;
}
.table-scroll tr td {
	height: 20px;
}
.table-scroll tr th {
	background: #fff;
}
.table-scroll th {
	height: 25px;
}
.table-scroll tr td:first-child, .table-scroll tr th:first-child{
	position: absolute;
	margin-left: -1px;
	width: 60px;
}
.table-scroll tr td:nth-child(2), .table-scroll tr th:nth-child(2){
	position: absolute;
	margin-left: 70px;
	width: 80px;
}
.table-scroll tr td:nth-child(3), .table-scroll tr th:nth-child(3){
	position: absolute;
	margin-left: 160px;
	width: 80px;
}
.table-scroll tr td:nth-child(4), .table-scroll tr th:nth-child(4){
	position: absolute;
	margin-left: 250px;
	width: 45px;
}
.table-scroll tr td:nth-child(5), .table-scroll tr th:nth-child(5){
	position: absolute;
	margin-left: 305px;
	width: 75px;
}
.table-scroll tr td:nth-child(6), .table-scroll tr th:nth-child(6){
	position: absolute;
	margin-left: 390px;
	width: 120px;
}
.table-scroll tr td:nth-child(7), .table-scroll tr th:nth-child(7){
	position: absolute;
	margin-left: 520px;
	width: 190px;
	border-right: 2px dashed hsl(0, 0%, 87%);
}
.table-scroll tr td:nth-child(8), .table-scroll tr th:nth-child(8){
	position: absolute;
	margin-left: 720px;
	width: 45px;
	border-right: 2px dashed hsl(0, 0%, 87%);
}
.table-scroll tr td:nth-child(9), .table-scroll tr th:nth-child(9){
	position: static;
	max-width: 760px;
	min-width: 760px;
	z-index: -1;
	border-right: 2px dashed hsl(0, 0%, 87%);
	border-left: 0px;
}
.table-scroll tr td:nth-child(10), .table-scroll tr th:nth-child(9){
	border-left: 2px dashed hsl(0, 0%, 87%);
}
